<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Information</title>
</head>

<body>

    <h1>LMS Information</h1>

    <!-- Display LMS Information -->
    <h2 id="lms-name">LMS Name</h2>

    <!-- Display Courses Information -->
    <h3 id="courses-header">Courses</h3>
    <ul id="courses-list"></ul>

    <script src="/scripts/lms.js"></script>


</body>

</html>